// sidebar
$lightSideBarBg: #fff;

$lightSideBarTitle: #666;

$lightSidebarLogoContainer: #fff;

// :export指令 是 webpack 的功能
// 地址: https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  lightSideBarBg: $lightSideBarBg;
  lightSideBarTitle: $lightSideBarTitle;
  lightSidebarLogoContainer: $lightSidebarLogoContainer;
}